body{
    margin:0;
    padding: 0;
    background: #C6DEC6;
}
.name {
    width: 100%;
    height: 300px;
    background: #92D050;/*COLOR DE LA PRIMERA PARTE*/
    transform: skewY(-5deg);/*hacerlo curvado*/
}
.name .content{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
}

.name .content .p1{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 55px;
    transform: skewY(5deg);
    margin-bottom: 0%;
}

.name .content .p2{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    transform: skewY(5deg);
    margin-top: 0%;
    margin-bottom: 0%;
}

.name .imagen{
    position: absolute;
    top: 18%;
    right: 5%;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    transform: skewY(5deg);
    overflow: hidden;
}

.name .imagen img{
    width: 200px;
    height: 225px;

}

.info{
    width: 90%;
    height: auto;/*se adaptara a su contenido*/
    background: #92D050;
    margin: 5% auto;
    padding: 20px;
    border-radius: 20px;
}

.info .titulo_info{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;/*tamano fuente extra extra largo*/
    text-align: center;
    font-weight: bolder;/*negrilla*/
    border-bottom: 2px black dashed;
}

.info .subtitulo1{
    color: black;
    font-family:'Roboto', sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;/*organizar en linea continua*/
    margin-right: 20px;
}
.info .subtitulo1_info{
    color: black;
    font-family:'Roboto', sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;/*organizar en linea continua*/
}